@import "./reset.css";
@import "./variables.css";
@import "./utilityClasses.css";

* {
  outline: 1px solid rgba(173, 216, 230, 0);
}
html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  /* scroll-behavior: var(--scroll-duration) smooth; */
}

body {
  background-color: var(--clr-sy-3);
  scroll-snap-stop: always;
}

/* Header */
header {
  background-color: var(--clr-sy-0);
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
}

header .container {
  display: flex;
  padding: 1.6rem 0px;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}

nav ul li {
  font-size: 1.6rem;
  padding: 1em 1.5em;
}

nav ul li:nth-of-type(4) {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em 1.5em;
}
nav ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--clr-py-0);
  font-family: var(--ft-acnt);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
  transition: color 0.3s ease;
}

nav ul li a:visited {
  color: var(--clr-py-0);
}

nav ul li a:hover {
  color: var(--clr-acnt-2);
}

nav ul li a:active {
  color: var(--clr-py-4);
}

nav ul li:nth-of-type(4):visited {
  color: var(--clr-py-0);
}

nav ul li:nth-of-type(4):hover {
  color: var(--clr-acnt-2);
  cursor: pointer;
}

nav ul li a:active {
  color: var(--clr-py-4);
}

nav ul li .contact-link {
  padding: 1em 1.5em;
  border-radius: 4px;
  background: var(--clr-acnt-2);
  transition: background-color 0.3s ease, color 0.3s ease;
}

/* Hover button link style */
nav ul li .contact-link:hover {
  background: var(--clr-acnt-3);
  color: var(--clr-py-0); /* Text color */
}

/* Active button link style */
nav ul li .contact-link:active {
  background: var(
    --clr-acnt-4
  ); /* Adjust the background color for active state */
  color: var(--clr-py-0); /* Text color */
}

.Hamburger-icon {
  display: none;
}
.close-icon {
  display: none;
}

.hero {
  min-height: 120svh;
  background: linear-gradient(180deg, #000 0%, rgba(0, 0, 0, 0) 100%),
    url(../Assets/Images/blog_hero.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}



.hero .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero .container .hero-text {
  margin-top: 35rem;
  margin-bottom: 3.2rem;
  color: var(--clr-py-0);
  /* Font Accent 56px Reg */
  font-family: var(--ft-acnt);
  font-size: 5.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.travel-card .container {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 2.4rem;
}

.travel-card .container .text-holder {
  width: 50%;
}
.travel-card .container .text-holder h4 {
  margin-bottom: 1.6rem;
  color: var(--clr-py-0);
  font-family: var(--ft-acnt);
  font-size: 4.8rem;
}
.travel-card .container .text-holder p {
  margin-bottom: 1.6rem;
  line-height: 3.6rem;
  color: var(--clr-py-0);
  font-family: var(--ft-py);
}

.travel-card .container img {
  width: 50%;
  border-radius: 0.4rem;
}

.grid-holder {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2.4rem;
}

.card {
  display: flex;
  border-radius: 0.4rem;
  background-color: var(--clr-py-0);
  transition: transform 0.3s, box-shadow 0.3s; /* Smooth transitions */
  box-shadow: 0px 4px 10px 0px rgba(255, 255, 255, 0.2);
}

.card img{
  width: 40%;
}

.card:nth-of-type(1) img {
  /* width: 40%; */
  object-fit: cover;
}
.card:nth-of-type(2) img {
  /* width: 40%; */
  object-fit: cover;
}

.card-text {
  padding: 2.4rem 2.4rem 5.4rem 2.4rem;
  width: 60%;
}

.card img {
  border-radius: 0.4rem 0rem 0rem 0.4rem;
}

.card:nth-of-type(1) {
  grid-column: 1/3;
}
.card:nth-of-type(2) {
  grid-column: 3/5;
}

.blog-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
  border-radius: 4px;
  background: var(--clr-py-0);
  box-shadow: 0px 4px 10px 0px rgba(255, 255, 255, 0.2);
  /* height: 464px; */
  height: 100%;
  padding-bottom: 4.8rem;
  transition: transform 0.3s, box-shadow 0.3s; /* Smooth transitions */
}

.blog-card:hover,
.card:hover {
  transform: scale(1.05); /* Increase size on hover */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Increase box shadow on hover */
  cursor: pointer;
}

.blog-img {
  height: 100%;
  width: 100%;
  border-radius: 4px 4px 0px 0px;
}
.blog-text-content {
  /* background-color: pink; */
  padding: 0rem 1.6rem;
}

.dateAndHeart {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2.4rem;
}
.dateAndHeart p {
  color: var(--clr-sy-0);
  /* Font Primary 16px Medium */
  font-family: var(--ft-py);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.blog-text {
  color: var(--clr-sy-3);
  /* Font Primary 16px Reg */
  font-family: var(--ft-py);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 2.4rem;
}

.card-heading {
  color: var(--clr-sy-3);
  /* Font Accent 20px Bold */
  font-family: var(--ft-acnt);
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 1.6rem;
}

.readMoreLink {
  color: var(--clr-acnt-0);
  /* Font Accent 20px Bold */
  font-family: var(--ft-acnt);
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-decoration: none;
}

/* newsletter */
.newsletter {
  position: relative;
  width: 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1440' height='538' viewBox='0 0 1440 538' fill='none'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M60 75.8095L0 90.6703V269V536.495L60 506.773L60.0005 506.773C120.001 477.051 240 417.608 360 417.608C438.158 417.608 518.862 445.627 598.795 473.378C641.587 488.234 684.158 503.014 726 513.378C846 543.099 966 543.099 1086 528.239C1178.94 516.729 1268.29 492.342 1331.73 475.025C1350.2 469.984 1366.47 465.541 1380 462.19L1440 447.33V269V1.5054L1380 31.227C1320 60.9486 1200 120.392 1080 120.392C1001.84 120.392 921.138 92.3732 841.205 64.622C798.413 49.7654 755.842 34.9856 714 24.6222C594 -5.09942 474 -5.09943 354 9.76139C261.058 21.2714 171.715 45.6581 108.273 62.975C89.8034 68.0164 73.5289 72.4586 60 75.8095Z' fill='url(%23paint0_linear_52_893)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear_52_893' x1='0' y1='0' x2='1483.74' y2='182.611' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23222222'/%3E%3Cstop offset='1' stop-color='%23A30F0A'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}

.newsletter .container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  min-height: 55rem; /* Set the desired height */
}
.newsletter-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.newsletter-container p {
  color: var(--clr-py-0);
  /* Font Primary 24 Bold */
  font-family: var(--ft-py);
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 3.2rem;
}

.newsletter-container p:nth-of-type(2) {
  color: var(--clr-py-1);
  /* Font Primary 16px Semi Bold */
  font-family: var(--ft-py);
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.input-box-holder {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.input-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.8rem;
  flex-direction: column;
}

.input-box p {
  color: var(--clr-py-1);
  /* Font Primary 16px Medium */
  font-family: var(--ft-py);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.input-box input[type="email"] {
  padding: 0.8rem 2.4rem;
  /* width: 100%; */
  width: 50ch;
  border-radius: 0.4rem;
  border: none;
  background-color: var(--clr-py-0);
  font-family: var(--ft-py);
  font-size: 1.6rem;
  font-weight: 600;
}
.input-box input[type="email"]:focus,
.input-box[type="email"]:active {
  background-color: var(--clr-py-1);
}
.input-box input[type="email"]::placeholder {
  color: var(--clr-py-3);
  /* Font Primary 24px Medium */
  font-family: var(--ft-py);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.sub-btn {
  border-radius: 4px;
  background: var(--secondary-color-3, #111);
  padding: 1em 1.5em;
  color: var(--clr-py-0);
  font-family: var(--ft-py);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease, color 0.3s ease;
  border: none;
}

.sub-btn:hover {
  background: var(--clr-sy-2);
  color: var(--clr-py-1); /* Text color */
  cursor: pointer;
}

/* footer */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

footer nav ul {
  margin-bottom: 6.4rem;
}

footer nav ul li {
  display: flex;
  align-items: center;
}

footer .container .logo {
  margin-bottom: 6.4rem;
}

footer h3 {
  color: var(--clr-py-0);
  /* Font Primary 24 Bold */
  font-family: var(--ft-py);
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 3.2rem;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4.8rem;
}

.developedBy {
  width: 100%;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="1440" height="136" viewBox="0 0 1440 136" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M0 45.8407L60 38.3275C120 30.8142 234 12.4484 354 4.93513C474 -2.57815 594 -2.57815 714 12.4484C834 27.4749 960 60.8673 1080 60.8673C1200 60.8673 1320 30.8142 1380 15.7876L1440 0.761095V136H1380C1320 136 1200 136 1080 136C960 136 840 136 720 136C600 136 480 136 360 136C240 136 120 136 60 136H0V45.8407Z" fill="url(%23paint0_linear_77_40)"/><defs><linearGradient id="paint0_linear_77_40" x1="0" y1="0" x2="1217.59" y2="592.809" gradientUnits="userSpaceOnUse"><stop stop-color="%23222222"/><stop offset="1" stop-color="%23A30F0A"/></linearGradient></defs></svg>');
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.developedBy .container {
  min-height: 13.6rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.developedBy p {
  color: var(--clr-py-0);
  /* Font Accent 16 Reg */
  font-family: var(--ft-acnt);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 1.6rem;
}

/* Media Queries */

@media (max-width: 57.5em) {
  .hero .container .hero-text {
    font-size: 4.8rem;
    margin-top: 30rem;
  }

  .second-heading {
    font-size: 4rem;
    margin-bottom: 4.8rem;
  }

  .travel-card .container .text-holder h4 {
    margin-bottom: 1.6rem;
    color: var(--clr-py-0);
    font-family: var(--ft-acnt);
    font-size: 4rem;
  }
  .travel-card .container .text-holder p {
    margin-bottom: 1.6rem;
    line-height: 2.4rem;
    color: var(--clr-py-0);
    font-family: var(--ft-py);
  }

  .card img{
    width: 30%;
  }

  .card:nth-of-type(1) {
    grid-column: 1/-1;
  }
  .card:nth-of-type(2) {
    grid-column: 1/-1;
  }

  

  .grid-holder {
    grid-template-columns: 1fr 1fr 1fr;
  }

  /* newsletter */
  .newsletter{
    width: 100%;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="900" height="404" viewBox="0 0 900 404" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M37.5 56.9276L0 68.087V202V402.87L37.5 380.551L37.5004 380.551C75.0005 358.232 150 313.594 225 313.594C273.849 313.594 324.289 334.634 374.247 355.473C400.992 366.63 427.599 377.728 453.75 385.51C528.75 407.829 603.75 407.829 678.75 396.67C736.839 388.027 792.678 369.714 832.329 356.71C843.873 352.924 854.044 349.589 862.5 347.072L900 335.913V202V1.13049L862.5 23.4493C825 45.7682 750 90.4059 675 90.4059C626.151 90.4059 575.711 69.3658 525.753 48.5266C499.008 37.3704 472.401 26.2717 446.25 18.4896C371.25 -3.82927 296.25 -3.82927 221.25 7.33015C163.161 15.9733 107.322 34.286 67.6706 47.2898C56.1271 51.0756 45.9556 54.4114 37.5 56.9276Z" fill="url(%23paint0_linear_91_404)"/><defs><linearGradient id="paint0_linear_91_404" x1="0" y1="0" x2="931.609" y2="95.4297" gradientUnits="userSpaceOnUse"><stop stop-color="%23222222"/><stop offset="1" stop-color="%23A30F0A"/></linearGradient></defs></svg>');
}

.newsletter .container{
  min-height: 45rem;
  display: flex;
    align-items: center;
    justify-content: center;
}

.newsletter-container p{
  font-size: 1.8rem;
}

.input-box-holder{
  flex-direction: column;
  width: 100%;
}
.input-box{
  width: 100%;
}
.input-box p{
  color: var(--clr-py-1);
/* Font Primary 16px Medium */
font-family: var(--ft-py);
font-size: 1.6rem;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.input-box input[type='email']{
  width: 100%;
}

.input-box input[type='email']::placeholder{
  font-size: 1.4rem;
}


/* Developed By */

.developedBy{
    /* Set the element's dimensions as needed */
    width: 100%;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="900" height="136" viewBox="0 0 900 136" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M0 45.8407L37.5 38.3275C75 30.8142 146.25 12.4484 221.25 4.93513C296.25 -2.57815 371.25 -2.57815 446.25 12.4484C521.25 27.4749 600 60.8673 675 60.8673C750 60.8673 825 30.8142 862.5 15.7876L900 0.761095V136H862.5C825 136 750 136 675 136C600 136 525 136 450 136C375 136 300 136 225 136C150 136 75 136 37.5 136H0V45.8407Z" fill="url(%23paint0_linear_91_487)"/><defs><linearGradient id="paint0_linear_91_487" x1="0" y1="0" x2="861.604" y2="262.18" gradientUnits="userSpaceOnUse"><stop stop-color="%23222222"/><stop offset="1" stop-color="%23A30F0A"/></linearGradient></defs></svg>');
    display: flex;
    align-items: center;
    justify-content: center;
   
  }


  .developedBy .container{
    min-height: 13rem;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
  }

}


@media (max-width:46.875em){


  

  .header .container {
    position: relative;
  }


.nav{
  display: none;
  position: absolute;
  top: 6.9rem;
  left: -4rem;
  right: -4rem;
  border-radius: 0px 0px 8px 8px;
background: var(--clr-sy-3);

/* Card Shadow */
box-shadow: 0px 4px 10px 0px rgba(255, 255, 255, 0.20);
}
.nav ul {
  display: block;
}

.Hamburger-icon{
  display: inline-block;
  cursor: pointer;
}

.active .nav{
  display: block;
}

.active .close-icon{
  display: block;
}

.active .Hamburger-icon{
  display: none;
}

nav ul li{
  font-size: 1.4rem;
  padding: 1em 1.5em;
}

nav ul li .contact-link {
  padding: 0em 1.5em;
  font-size: 1.4rem;
  background-color: transparent;
  border-radius: 0px;
}

.developedBy .container{
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

}


@media (max-width:43.75em) {

  

  .travel-card .container{
    flex-direction: column;
  }

  .travel-card .container .text-holder {
    width: 100%;
  }
  .travel-card .container img {
    width: 100%;
  }


  .grid-holder {
    grid-template-columns: 1fr;
  }

  .blog-card {
    max-width: 50%;
    margin: 0 auto;
  }
}


@media (max-width:26em){

  
 .hero .container .hero-text{
    font-size: 3.6rem;
    text-align: center;
      margin-top: 24rem;
  }

 .second-heading{
    font-size: 2.8rem;
  }

  .travel-card .container .text-holder h4{
    font-size: 2.8rem;
  }
  .travel-card .container .text-holder p{
    font-size: 1.4rem;
  }

  .newsletter{
    background-image: url(../Assets/Logo/newsletter_bg.svg);
    min-height: 100vh;
  }

  .card{
    flex-direction: column;
  }

  .card img{
    width: 100%;
    height: 14.4rem;
  }

  .card .card-text{
    width: 100%;
  }

  .blog-card {
    max-width: 100%;
  }

 

  .input-box input[type='email']{
    width: 100%;
    font-size: 1.2rem;
    margin-bottom: 0.4rem;
  }

  .input-box input[type='email']::placeholder{
    font-size: 1.2rem;
  }

  .input-box p{
    color: var(--clr-py-1);
/* Font Primary 12 Reg - M */
font-family: var(--ft-py);
font-size: 1.2rem;
font-style: normal;
font-weight: 400;
line-height: normal;
  }

  .sub-btn{
    font-size: 1.4rem;
  }


 

  /* Footer */

  .footer nav ul{
    display: flex;
    flex-direction: column;
  }

  .footer h3{
    font-size: 1.8rem;
  }

  .social-links{
    flex-direction: column;
  }

  .developedBy{
    background-image: url('../Assets/Logo/developedbyBg.svg');
    width: 100%;
  }


   /* developed by container */
   .developedBy .container p{
    font-size: 1.2rem;
  }

}